body{
    background-color: antiquewhite;
    align-items: center;
}

.heading{
    font-family: "Akira Expanded";
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px 8px 0 0;
    text-align: center;
    color: white;
}
.paragraph{
    font-family: "Caviar Dreams";
}
.styled-button{
    background-color: lightpink;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.styled-button:hover {
    background-color: #45a049;
}